{% extends 'back.html.twig' %}

{% block title %}Edit Inscriptions{% endblock %}

{% block body %}
<div style = "position:relative; left:800px; top:100px;">

    <h1>Edit Inscriptions</h1>

    {{ include('inscriptions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inscriptions_index') }}">back to list</a>

    {{ include('inscriptions/_delete_form.html.twig') }}
{% endblock %}
